
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body base styles */
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* REGISTER CSS START */

.register{
    background-color: #ebe5e5;
    height: 100dvh;
    display: flex;

.container{
      background: #ffffff;
      padding: 40px;
      max-width: 400px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    }

 h2 {
      margin-bottom: 20px;
      text-align: center;
      color: #333;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    input, select {
      padding: 12px 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 16px;
      transition: border-color 0.3s ease;
    }

    input:focus, select:focus {
      outline: none;
      border-color: #4f46e5;
    }

    button {
      background-color: #4f46e5;
      color: white;
      border: none;
      padding: 12px;
      border-radius: 6px;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #3730a3;
    }
}
/* REGISTER CSS END */